body {
	background-color: rgb(215, 215, 209);
}

.words {
	color:green;
	margin: auto;
	text-align:center;
	font-size: 32px;
}

#tagform {
	text-align: center;
	color: rgb(43, 98, 250);
	font-size: 26px;
}

#ulist {
	color: rgb(87, 13, 157);
	text-align: center;
	columns: 3;
	font-size: 18px;
}